body {
  background-color: midnightblue;
}

.topnav {
   background-color: black;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #ffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.table-height {
  height: 500px;
}

.main-content{
  display: flex;
  background-color: midnightblue;
  height: 100%;
}

.left-side-registration-box{
  display: flex;
  flex-direction: column;
  background-color: gray;
  margin: 30px;
  height: 40%; /* For å justere høyden til registrerings boksen */
  width: 25%;
}
.right-side-table {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 30px;
  height: 80%; /* For å justere høyden til tabell div'en*/
  width: 75%;
}
